* {
  margin: 0;
  padding: 0;
  font-family: cursive; }

/* Variables------------------------*/
.colorNaranja {
  color: #faad01; }

.colorVioleta {
  color: #9a2c60; }

.colorVerde {
  color: #689a3b; }

/* Tipografia que por alguna razon el servidor no me la toma, por lo que la tuve que cambiar*/
@font-face {
  font-family: halimun;
  src: url(../imagenes/halimun.ttf); }

/* nav modificado-------------------------*/
.miNav {
  background-color: #faad01;
  font-size: 1.2rem; }

.presentacionIndexNav {
  display: flex;
  align-items: flex-start; }

.titulos {
  font-family: halimun;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem; }

.dropdown-menu {
  background-color: transparent; }

nav ul li:hover {
  text-decoration: underline #faad01; }

.navbar .nav-link {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center; }

.iconoDelNav {
  display: flex;
  justify-content: flex-start; }

/* footer------------------------------------*/
.divIconos {
  display: flex;
  align-items: center; }

.whatsapp {
  display: flex;
  flex-direction: column;
  align-items: center; }

.instagram {
  display: flex;
  flex-direction: column;
  align-items: center; }

.facebook {
  display: flex;
  flex-direction: column;
  align-items: center; }

footer {
  background-color: #689a3b; }

footer ul li {
  list-style: none; }

.sacarLinea {
  text-decoration: none; }

.row {
  --bs-gutter-x: 0; }

/*animaciones---------------------*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out 3s infinite both;
  animation: heartbeat 1.5s ease-in-out 3s infinite both; }

/* Imagen grande------------------------------------*/
.presentacionIndex {
  height: 100vh;
  background-image: url(../imagenes/imagenPresentacion.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  opacity: 1; }

.alfredoIndex {
  text-align: center;
  margin-top: 7%; }

.alfredoIndex--titulo {
  color: #faad01;
  font-family: halimun;
  font-family: 'Pacifico', cursive; }

.divImportante {
  background-color: #689a3b;
  align-items: center; }

/* Importantes-------------------------------------*/
.importante {
  color: white;
  text-align: center;
  background-color: transparent; }

/* Carta-------------------------------------------------*/
.divCarta {
  background-color: #9a2c60; }

.carta {
  grid-area: carta;
  display: grid;
  grid-template-areas: "tC tC" "img1 t1" "img2 t2" "img3 t3";
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  border-radius: 10%;
  padding: 5%;
  width: 900px; }

.carta__titulo {
  grid-area: tC;
  justify-self: center;
  border: 3px solid black;
  border-radius: 10px;
  height: 50px;
  align-self: center; }

.carta__texto1 {
  grid-area: t1;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__texto2 {
  grid-area: t2;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__texto3 {
  grid-area: t3;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__img1 {
  border-radius: 50%;
  grid-area: img1;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

.carta__img2 {
  grid-area: img2;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

.carta__img3 {
  grid-area: img3;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

/*footer-------------------------------------------------*/
.footerIndex {
  background-color: #faad01; }

.scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

/* Animaciones------------------------------*/
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* Responsive a mano----------------------------*/
@media (max-width: 600px) {
  .carta {
    grid-area: carta;
    display: grid;
    grid-template-areas: "tC" "img1" "t1" "img2" "t2" "img3" "t3";
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border-radius: 10%;
    /*margin: 0% 10%;*/
    padding: 5%;
    width: 900px; }
  .alfredoIndex {
    margin-top: 100px; }
  .carta__img1 {
    grid-area: img1;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; }
  .carta__img2 {
    grid-area: img2;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; }
  .carta__img3 {
    grid-area: img3;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; } }

/* estilo de la pagina*/
.divImagenes {
  background-color: #9a2c60; }

.margenImagenMeedio {
  margin: 15px 0 0 0; }

/* estilo de la pagina----------------*/
.divLocal {
  margin: auto;
  padding: 10px;
  width: 90%;
  text-align: center; }

.divPagLocal {
  background-color: #9a2c60; }

.imagenDelMedioLocal {
  margin: 0px 0px 10px 0px; }

.tituloContactanos {
  margin-top: 50px;
  margin-bottom: 30px; }

/* Modificacion del maps*/
.max-wrapper {
  max-width: 700px;
  height: 600px; }

.maps {
  width: 100%;
  height: 100%; }

/*form del contacto--------------------------*/
.formDeContacto {
  width: 700px;
  margin: auto;
  justify-content: center; }

/* responsive a mano-----------------*/
@media (max-width: 800px) {
  .formDeContacto {
    width: auto; }
  .imagenDelMedioLocal {
    margin: 10px 0px; } }

/* Estilo de la pagina-------------*/
.divTablas {
  background-color: #9a2c60; }

/* Cajas individuales----------------*/
.divTablas__tituloCI {
  justify-content: center;
  height: 100px;
  display: flex;
  align-items: center; }

.divTablas__tablaCajaI {
  background-color: #689a3b; }

/* Promociones---------------------------------*/
.divTablas__tituloP {
  justify-content: center;
  height: 100px;
  display: flex;
  align-items: center; }

.divTablas__tablaPromociones {
  background-color: #689a3b; }

/* Responsivo a mano--------------------------*/
@media (min-width: 600px) {
  .divTablas__tituloCI {
    height: 200px; }
  .divTablas__tablaCajaI {
    background-color: #689a3b;
    width: 50%;
    margin: auto;
    font-size: 1.2rem; }
  .divTablas__tituloP {
    height: 200px; }
  .divTablas__tablaPromociones {
    width: 70%;
    margin: auto;
    font-size: 1.2rem; } }

/* Estilo de la pagina----------------------*/
.recomendaciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #9a2c60;
  color: white; }

/* Recomendaciones en si*/
.recomendaciones__pasos {
  margin: 20px 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  border: 5px dashed white;
  border-radius: 20px;
  height: auto;
  width: 500px; }

ol li {
  margin-top: 20px; }

.divRecomendaciones h3 {
  text-decoration: underline; }

/* Titulos---------------*/
.recomendaciones__salsaTitulo {
  color: black;
  text-align: center;
  margin: 0% 25%;
  border-radius: 30px;
  background-color: white; }

.recomendaciones__PCPTitulo {
  text-align: center;
  color: black;
  background-color: white;
  margin: 0% 11%;
  border-radius: 30px; }

/* Estilo de la pagina-----------*/
.divClubAlfredo {
  background-color: #9a2c60; }

/* Beneficios-----------------*/
.beneficios {
  align-items: center; }

.beneficios__div, .beneficios__div--naranja, .beneficios__div--violeta, .beneficios__div--verde {
  border: 2px solid; }

.beneficios__div--naranja {
  border-color: #ffc06a; }

.beneficios__div--violeta {
  border-color: #9900ff; }

.beneficios__div--verde {
  border-color: green; }

/* Form para suscribirse----------------------*/
.tituloSuscribirse {
  margin-top: 120px;
  margin-bottom: 50px; }

.divform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

form {
  text-align: center;
  margin-top: 30px;
  border-radius: 50px;
  margin-bottom: 100px; }

.botonForm {
  background-color: #faad01;
  border: 0px; }

.botonForm:hover {
  background-color: #fcca6e; }
