* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: halimun;
  src: url(../imagenes/halimun.ttf); }

.colorNaranja {
  color: #faad01; }

.colorVioleta {
  color: #9a2c60; }

.colorVerde {
  color: #689a3b; }

html {
  font-size: 62.5%;
  font-family: cursive;
  font-size: 1rem; }

.miNav {
  background-color: #faad01; }

.titulos {
  font-family: halimun; }

.dropdown-menu {
  background-color: transparent; }

nav ul li:hover {
  text-decoration: underline #faad01; }

.iconoDelNav {
  display: flex;
  justify-content: flex-start; }

#whatsapp {
  width: 200px;
  position: fixed;
  right: 0px;
  bottom: 0px; }

footer {
  background-color: #689a3b; }

footer ul li {
  list-style: none; }

.sacarLinea {
  text-decoration: none; }

.presentacionIndex {
  height: 100vh;
  background-image: url(../imagenes/imagenPresentacion.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center; }

.alfredoIndex {
  text-align: center;
  height: 70vh; }

.alfredoIndex--titulo {
  color: #faad01;
  font-family: halimun; }

.alfredoIndex__divPastasArtesanales {
  font-family: cursive;
  text-align: center; }

.presentacionIndexNav {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem; }

@font-face {
  font-family: halimun;
  src: url(../imagenes/halimun.ttf); }

.encabezado__titulo {
  font-family: halimun; }

.divImportante {
  background-color: #689a3b;
  align-items: center; }

.importante {
  color: white;
  text-align: center;
  background-color: transparent; }

.importante--boton {
  background-color: #faad01;
  border: 0px; }

.importante1__titulo {
  font-size: 2rem;
  font-family: 'Festive', cursive; }

.importante2__titulo {
  font-size: 2rem;
  font-family: 'Festive', cursive; }

.tituloI {
  grid-area: tituloImagen;
  justify-self: center;
  align-self: center;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  opacity: 0.8;
  animation-name: aparecer;
  animation-duration: 4s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.8; } }

.divCarta {
  background-color: #9a2c60; }

.carta {
  grid-area: carta;
  display: grid;
  grid-template-areas: "tC tC" "img1 t1" "img2 t2" "img3 t3";
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  border-radius: 10%;
  /*margin: 0% 10%;*/
  padding: 5%;
  width: 900px; }

.carta__titulo {
  grid-area: tC;
  justify-self: center;
  border: 3px solid black;
  border-radius: 10px;
  height: 50px;
  align-self: center; }

.carta__texto1 {
  grid-area: t1;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__texto2 {
  grid-area: t2;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__texto3 {
  grid-area: t3;
  justify-self: center;
  align-self: center;
  text-align: center; }

.carta__img1 {
  grid-area: img1;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

.carta__img2 {
  grid-area: img2;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

.carta__img3 {
  grid-area: img3;
  justify-self: end;
  align-self: center;
  height: 200px;
  width: 200px; }

.footerIndex {
  background-color: #faad01; }

.row {
  --bs-gutter-x: 0; }

.scale-up-center {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@media (max-width: 600px) {
  .carta {
    grid-area: carta;
    display: grid;
    grid-template-areas: "tC" "img1" "t1" "img2" "t2" "img3" "t3";
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border-radius: 10%;
    /*margin: 0% 10%;*/
    padding: 5%;
    width: 900px; }
  .carta__img1 {
    grid-area: img1;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; }
  .carta__img2 {
    grid-area: img2;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; }
  .carta__img3 {
    grid-area: img3;
    justify-self: center;
    align-self: center;
    height: 200px;
    width: 200px; } }

.divImagenes {
  background-color: #9a2c60;
  height: 90vh; }

@media (max-width: 600px) {
  .margenImagenMeedio {
    margin: 15px 0; } }

.divLocal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 10px; }

.divPagLocal {
  height: 90vh;
  background-color: #9a2c60; }

.divTablas {
  background-color: #9a2c60;
  height: 90vh; }

.divTablas__tituloCI {
  justify-content: center;
  height: 100px;
  display: flex;
  align-items: center; }

.divTablas__tablaCajaI {
  background-color: #689a3b; }

.divTablas__tituloP {
  justify-content: center;
  height: 100px;
  display: flex;
  align-items: center; }

.divTablas__tablaPromociones {
  background-color: #689a3b; }

@media (min-width: 600px) {
  .divTablas__tituloCI {
    height: 200px; }
  .divTablas__tablaCajaI {
    background-color: #689a3b;
    width: 50%;
    margin: auto;
    font-size: 1.2rem; }
  .divTablas__tituloP {
    height: 200px; }
  .divTablas__tablaPromociones {
    width: 70%;
    margin: auto;
    font-size: 1.2rem; } }

.recomendaciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #9a2c60;
  color: white; }

.recomendaciones__pasos {
  margin: 20px 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  border: 5px dashed white;
  border-radius: 20px;
  height: auto;
  width: 500px; }

ol li {
  margin-top: 20px; }

.divRecomendaciones h3 {
  text-decoration: underline; }

.recomendaciones__salsaTitulo {
  color: black;
  text-align: center;
  margin: 0% 25%;
  border-radius: 30px;
  background-color: white; }

.recomendaciones__PCPTitulo {
  text-align: center;
  color: black;
  background-color: white;
  margin: 0% 11%;
  border-radius: 30px; }

/*.recomendaciones__lista{
    list-style-image: url("../imagenes/logoSorrentino.jpg");
}*/
.beneficios {
  align-items: center; }

.beneficios__div, .beneficios__div--naranja, .beneficios__div--violeta, .beneficios__div--verde {
  border: 2px solid; }

.beneficios__div--naranja {
  border-color: #ffc06a; }

.beneficios__div--violeta {
  border-color: #9900ff; }

.beneficios__div--verde {
  border-color: green; }

.divform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

form {
  text-align: center;
  margin-top: 30px;
  border-radius: 50px; }

.divClubAlfredo {
  background-color: #9a2c60; }
