// nav de encargues
.miNav_encargue{
    background-color: black;
}
//titulo encargue
.tituloEncargue{
    background-color: black;
    margin-bottom: 0%;
    color: white;
    font-family: 'Pacifico', cursive;
}
/* estilo de la pagina*/
.divImagenes{
    background-color: $colorVioleta;
}
.margenImagenMeedio{
    margin: 15px 0 0 0;
}
.estiloEncargue{
    background-color: black;
}
// form encargue
.formDeEncargue{
    width: 700px;
    margin: auto;
    color: white;
}
#valorDecir{
    text-align: center;
    font-size: 1.5rem;
}
#boton{
    margin-top: 15px;
}
#aplicarShow{
    display: none;
}
#divDelBotonHacerPedido{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}
#hacerPedido{
    text-align: center;
    font-family: cursive;
    color: white;
    background-color: $colorNaranja;
    border: 5px solid $colorNaranja;
    border-radius: 5px;
}
// Carta de encargue
.divCarta_encargue{
    background-color: black;
    margin: auto;
}
.carta_encargue{
    display: grid;
    grid-template-areas: "tC tC"
                         "img1 t1"
                         "img2 t2"
                         "img3 t3";
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border-radius: 10%;
    padding: 5%;
    width: 900px;
    color: white;
}
.carta__titulo{
    grid-area: tC;
    justify-self: center;
    border: 3px solid white;
    border-radius: 10px;
    height: 50px;
    align-self: center;
    
}
.carta__texto1{
    grid-area: t1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto2{
    grid-area: t2;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto3{
    grid-area: t3;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__img1{
    border-radius: 50%;
    grid-area: img1;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img2{
    grid-area: img2;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img3{
    grid-area: img3;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.listaDePedidos{
    background-color: black;
    color: white;
}
// responsive a mano----------------------
@media (max-width: 600px){
    .carta_encargue{
        grid-area: carta;
        display: grid;
        grid-template-areas: "tC"
                             "img1"
                             "t1"
                             "img2"
                             "t2"
                             "img3"
                             "t3";
        grid-template-rows: 1fr ;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
        border-radius: 10%;
        padding: 5%;
        width: 900px;
    }
    .alfredoIndex{
        margin-top: 100px;
    }
    .carta__img1{
        grid-area: img1;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img2{
        grid-area: img2;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img3{
        grid-area: img3;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__texto1{
        grid-area: t1;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .carta__texto2{
        grid-area: t2;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .carta__texto3{
        grid-area: t3;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
}


