*{
    margin: 0;
    padding: 0;
    font-family: cursive;
} 
$colorNaranja:#faad01;
$colorVerde :#689a3b;
$colorVioleta :#9a2c60;
@font-face {
    font-family: halimun;
    src: url(../imagenes/halimun.ttf);
}
.colorNaranja{
    color: $colorNaranja;
}
.colorVioleta{
    color: $colorVioleta ;
}
.colorVerde{
    color: $colorVerde;
}
html{
    font-size: 62.5%;
    font-family: cursive;
    font-size: 1rem;
}
.miNav{
    background-color: $colorNaranja;
}
.titulos{
    font-family: halimun;
}
.dropdown-menu{
    background-color: transparent;
}
nav ul li:hover{
    text-decoration: underline $colorNaranja;
}
.navbar .nav-link{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.iconoDelNav{
    display: flex;
    justify-content: flex-start;
}
.divIconos{
    display: flex;
    align-items: center;
}
.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whatsappLogo{
    position: fixed;
    bottom: 200px;
    right: 30px;
}
.instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: $colorVerde;
}
footer ul li{
    list-style: none;
}
.sacarLinea {
    text-decoration: none;
}
.row{
    --bs-gutter-x: 0;
}
$colorNaranja:#faad01;
$colorVerde :#689a3b;
$colorVioleta :#9a2c60;