*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
/* Variables------------------------*/
$colorNaranja:#faad01;
$colorVerde :#689a3b;
$colorVioleta :#9a2c60;
.colorNaranja{
    color: $colorNaranja;
}
.colorVioleta{
    color: $colorVioleta ;
}
.colorVerde{
    color: $colorVerde;
}
/* Tipografia que por alguna razon el servidor no me la toma, por lo que la tuve que cambiar*/
@font-face {
    font-family: halimun;
    src: url(../imagenes/halimun.ttf);
}
/* nav modificado-------------------------*/
.miNav{
    background-color: $colorNaranja;
}
.presentacionIndexNav{
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
}
.titulos{
    font-family: halimun;
    font-family: 'Pacifico', cursive;
}
.dropdown-menu{
    background-color: transparent;
}
nav ul li:hover{
    text-decoration: underline $colorNaranja;
}
.navbar .nav-link{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.iconoDelNav{
    display: flex;
    justify-content: flex-start;
}
/* footer------------------------------------*/
.divIconos{
    display: flex;
    align-items: center;
}
.whatsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: $colorVerde;
}
footer ul li{
    list-style: none;
}
.sacarLinea {
    text-decoration: none;
}
.row{
    --bs-gutter-x: 0;
}
