
@mixin dimension ($alto, $ancho){
    height: $alto;
    width: $ancho;
}
/* Imagen grande------------------------------------*/
.presentacionIndex{
    height: 100vh;
    background-image: url(../imagenes/imagenPresentacion.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    opacity: 1;
}
.alfredoIndex{
    text-align: center;
    margin-top: 7%;
}
.alfredoIndex--titulo{
    color: $colorNaranja;
    font-family: halimun;
}
.divImportante{
   background-color: $colorVerde;
   align-items: center;
}
/* Importantes-------------------------------------*/
.importante{ 
    color: white;
    text-align: center;
    background-color: transparent;
}
.importante--boton{
    background-color: $colorNaranja;
    border: 0px;
}
/* Carta-------------------------------------------------*/
.divCarta{
    background-color: $colorVioleta;
}
.carta{
    grid-area: carta;
    display: grid;
    grid-template-areas: "tC tC"
                         "img1 t1"
                         "img2 t2"
                         "img3 t3";
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border-radius: 10%;
    padding: 5%;
    width: 900px;
}
.carta__titulo{
    grid-area: tC;
    justify-self: center;
    border: 3px solid black;
    border-radius: 10px;
    height: 50px;
    align-self: center;
    
}
.carta__texto1{
    grid-area: t1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto2{
    grid-area: t2;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto3{
    grid-area: t3;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__img1{
    border-radius: 50%;
    grid-area: img1;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img2{
    grid-area: img2;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img3{
    grid-area: img3;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
/*footer-------------------------------------------------*/
.footerIndex{
    background-color: $colorNaranja;
}
.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* Animaciones------------------------------*/
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/* Responsive a mano----------------------------*/
@media (max-width: 600px){
    .carta{
        grid-area: carta;
        display: grid;
        grid-template-areas: "tC"
                             "img1"
                             "t1"
                             "img2"
                             "t2"
                             "img3"
                             "t3";
        grid-template-rows: 1fr ;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
        border-radius: 10%;
        /*margin: 0% 10%;*/
        padding: 5%;
        width: 900px;
    }
    .alfredoIndex{
        margin-top: 100px;
    }
    .carta__img1{
        grid-area: img1;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img2{
        grid-area: img2;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img3{
        grid-area: img3;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
}