
.beneficios{
    align-items: center;
}
.beneficios__div{
    border: 2px solid;
}
.beneficios__div--naranja{
    @extend .beneficios__div;
    border-color: rgb(255, 192, 106);
}
.beneficios__div--violeta{
    @extend .beneficios__div;
    border-color: rgb(153, 0, 255) ;
}
.beneficios__div--verde{
    @extend .beneficios__div;
    border-color: green;
}
.divform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form{
    text-align: center;
    margin-top: 30px;
    border-radius: 50px;
}
.divClubAlfredo{
    background-color: $colorVioleta;
}