.divTablas{
    background-color: $colorVioleta;
    height: 90vh;
}
.divTablas__tituloCI{
    justify-content: center;
    height: 100px;
    display: flex;
    align-items: center;
}
.divTablas__tablaCajaI{
    background-color: $colorVerde;
}
.divTablas__tituloP{
    justify-content: center;
    height: 100px;
    display: flex;
    align-items: center;
}
.divTablas__tablaPromociones{
    background-color: $colorVerde;
}
@media (min-width: 600px){
    .divTablas__tituloCI{
        height: 200px;
    }
    .divTablas__tablaCajaI{
        background-color: $colorVerde;
        width: 50%;
        margin: auto;
        font-size: 1.2rem;
    }
    .divTablas__tituloP{
        height: 200px;
    }
    .divTablas__tablaPromociones{
        width: 70%;
        margin: auto;
        font-size: 1.2rem;
    }
}
