.recomendaciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.recomendaciones__pasos{
    margin: 20px 0;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    border: 5px dashed black;
    border-radius: 20px;
    @include dimension( auto,500px )
}
ol li{
    margin-top: 20px;
}
.divRecomendaciones h3{
    text-decoration: underline;
}
.recomendaciones__salsaTitulo{
    color: white;
    text-align: center;
    margin: 0% 25%;
    border-radius: 30px;
    background-color: black;
}
.recomendaciones__PCPTitulo{
    text-align: center;
    color: white;
    background-color: black;
    margin: 0% 11%;
    border-radius: 30px;
}
.recomendaciones__lista{
    list-style-image: url("../imagenes/logoSorrentino.jpg");
}
.margenTituloRecomendaciones{
    margin: 50px 0;
}