.estiloTakeAway{
    background-color: black;
    height: 100vh;
}
#antesDelPedido{
    margin: auto;
    margin-top: 50px;
    color: white;
    width: 600px;
    height: 450px;
    border: 5px solid $colorVioleta;
    border-radius: 10px;
}
.antesDelPedido_titulo{
    color: $colorNaranja;
}
.antesDelPedido_texto{
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    color: $colorVerde;
}
.antesDelPedido_divBoton{
    display: flex;
    justify-content: center;
}
.antesDelPedido_divBoton-boton{
    margin-top: 20px;
    background-color: $colorNaranja;
    border: 0px;
}
#elijoPromo{
    display: none;
}
.elijoPromo{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
//promos---------------------
.promos{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.promos_opcion{
    border: 5px solid $colorVioleta;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: $colorNaranja;
}
.promos_opcion:hover{
    border-color: $colorVerde;
}
.promos_titulo{
    color: white;
    
    font-size: 2rem;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
    padding: 3px;
}
//carrito-----------------
.carritoYBoton{
    display: none;
    width: 300px;
}
.carrito{
    min-height: 600px;
    color: white;
    text-align: center;
    border: 3px solid $colorVerde;
    border-radius: 10px;
}
.carrito_boton{
    width: 170px;
    margin: auto;
    padding: 2px;
}
.arreglo{
    display: none;
}
.tamanio_carrito{
    width: 120px;
    margin: auto;
}
.remove{
    color: $colorNaranja;
    background-color: black;
    border: 1px solid $colorNaranja;
    width: 25px;
    border-radius: 50%;
}
//resumen----------------
.resumen{
    display: none;
    max-width: 600px;
    margin: 20px auto auto auto;
    color: white;
    border: 3px solid $colorVerde;
    border-radius: 10px;
}
.resumen_div{
    display: flex;
    justify-content: center;
}
.subtitulos{
    font-size: 1.5rem;
    color: $colorVerde;
    text-align: center;
}
.list-cosas{
    list-style: none;
}
.pequenioForm{
    font-size: 1.3rem;
    display: none;
}
.concluision{
    display: none;
}
//carta---------------------------
.divCarta_encargue{
    background-color: black;
}
.carta_encargue{
    display: grid;
    grid-template-areas: "tC tC"
                         "img1 t1"
                         "img2 t2"
                         "img3 t3";
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border-radius: 10%;
    width: 900px;
    color: white;
}
.carta__titulo{
    grid-area: tC;
    justify-self: center;
    border: 3px solid white;
    border-radius: 10px;
    height: 50px;
    align-self: center;
    
}
.carta__texto1{
    grid-area: t1;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto2{
    grid-area: t2;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__texto3{
    grid-area: t3;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.carta__img1{
    border-radius: 50%;
    grid-area: img1;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img2{
    grid-area: img2;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta__img3{
    grid-area: img3;
    justify-self: end;
    align-self: center;
    @include dimension(200px,200px )
}
.carta_boton{
    background-color: $colorNaranja;
    border: 0px;
}
.mostrarBotonS{
    display: none;
}
.mostrarBotonR{
    display: none;
}
// responsive a mano----------------------
@media (max-width: 600px){
    .carta_encargue{
        grid-area: carta;
        display: grid;
        grid-template-areas: "tC"
                             "img1"
                             "t1"
                             "img2"
                             "t2"
                             "img3"
                             "t3";
        grid-template-rows: 1fr ;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
        border-radius: 10%;
        padding: 5%;
        width: 900px;
    }
    .alfredoIndex{
        margin-top: 100px;
    }
    .carta__img1{
        grid-area: img1;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img2{
        grid-area: img2;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__img3{
        grid-area: img3;
        justify-self: center;
        align-self: center;
        @include dimension(200px,200px )
    }
    .carta__texto1{
        grid-area: t1;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .carta__texto2{
        grid-area: t2;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .carta__texto3{
        grid-area: t3;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
}